@model DTO.LABURNUM.COM.LoginActivityModel

@if (new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.ADMIN) || new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.PRINCIPLE))
{
    using (Ajax.BeginForm(new AjaxOptions { OnBegin = "OnSearchLoginActByAdvanceSearchBegin", OnSuccess = "OnSearchLoginActByAdvanceSearchSuccess", Url = @LABURNUM.COM.Component.Constants.URL.WEBSITEURL + "LogInActivity/SearchLogInActivity" }))
    {
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Dashboard/Index"><i class="fa fa-home"></i>Home</a></li>
                <li>LogInActivity</li>
                <li class="active">Search LogInActivity</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    
    <section>
        <header class="panel-heading">
            Search LogInActivity
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-5">
                            <span class="score_adept">LogIn By Id : </span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.StudentId, new { @id = "txtStudentId", @autocomplete = "Off", @onkeypress = "return isNumber(event);" })
                            </div>
                        </div>
                    </div>
                </div>
                @* <div class="col-sm-4 col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-5">
                            <span class="score_adept">User Type Id : </span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.DropDownList("ApiClientId", new SelectList(Model.ClientList, "ApiClientId", "ClientName"), "Please Select Access Type", new { @id = "ddlAccessType", @autocomplete = "Off" })
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-5">
                            <span class="score_adept">User Type Id : </span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.UserTypeId, new { @id = "txtUserTypeId", @autocomplete = "Off", @onkeypress = "return isNumber(event);" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-5">
                            <span class="score_adept">Start Date :</span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.StartDate, new { @id = "txtStartDate", @autocomplete = "Off" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-5">
                            <span class="score_adept">End Date :</span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.EndDate, new { @id = "txtEndDate", @autocomplete = "Off" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center">
        <button id="btnSearch" type="submit" class="btn btn-default btn-adeptsubmit btn-adeptsubmitfirst">SEARCH</button>
        <button id="btnReset" type="button" class="btn btn-default btn-adeptsubmit btn-danger" onclick="ResetEntries();">RESET</button>
    </div>
    <div id="divLoader" style="margin-top: 10px;" class="display_none text-center">
        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/loader.gif" />
    </div>
    <div id="divMessage" style="margin-top: 10px;" class="display_none text-center"></div>
    }
    <div id="divResult" class="panel margin_small"></div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            OnLogInActAdvanceSeachIndexReady();
        });
    </script>

}
else
{
    <section>
        <header class="panel-heading">
            @(LABURNUM.COM.Component.Constants.ERRORMESSAGES.ACCESS_DENIED)
        </header>
    </section>
}

