@model DTO.LABURNUM.COM.ClassModel

@if (new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.ADMIN) || new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.PRINCIPLE))
{
    using (Ajax.BeginForm(new AjaxOptions { OnBegin = "OnAddClassBegin", OnSuccess = "OnAddClassSuccess", Url = @LABURNUM.COM.Component.Constants.URL.WEBSITEURL + "AddClass/AddClass" }))
    {
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Dashboard/Index"><i class="fa fa-home"></i>Home</a></li>
                <li>Class</li>
                <li class="active">Add Class</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    
    <section>
        <header class="panel-heading">
            Add Class
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="score_adept">Class Name : </span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.ClassName, new { @id = "txtClassName", @autocomplete = "Off" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center">
        <button id="btnAddClass" type="submit" class="btn btn-default btn-adeptsubmit btn-adeptsubmitfirst">Add Class</button>
    </div>
    <div id="divLoader" style="margin-top: 10px;" class="display_none text-center">
        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/loader.gif" />
    </div>
    <div id="divMessage" style="margin-top: 10px;" class="display_none text-center"></div>
    }

}
else
{

    <section>
        <header class="panel-heading">
            @(LABURNUM.COM.Component.Constants.ERRORMESSAGES.ACCESS_DENIED)
        </header>
    </section>
}