@model DTO.LABURNUM.COM.FeeRepoting.CollectionSummary


<section class="panel">
    <header class="panel-heading text-center">
        <strong>Fee Collection Summary</strong>
    </header>

    <header class="panel-heading">
        <strong>Summary Collection For @Model.MonthName</strong>
        <span class="tools pull-right">
            <button type="button" onclick="DownloadRecord('Month Collection Summary');" class="btn btn-primary adept-view">Download <i class="fa fa-download" aria-hidden="true"></i></button>
        </span>
    </header>

    <div class="panel-body" id="divTable">
        <div class="col-md-12">
            @*<div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover general-table responsive">
                        <thead>
                            <tr>
                                <th>No. Of Student</th>
                                <th>Total Cash</th>
                                <th>Total Cheque</th>
                                <th>Total Pending</th>
                                <th>Total Discount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 19%;">@Model.TotalStudentCount</td>
                                <td style="width: 19%;">@Model.TotalCash</td>
                                <td style="width: 19%;">@Model.TotalChequeAmount</td>
                                <td style="width: 19%;">@Model.TotalPendingAmount</td>
                                <td style="width: 19%;">@Model.TotalDiscount</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-4">
                <div class="table-responsive">
                    <table class="table table-hover general-table responsive">
                        <thead>
                            <tr>
                                <th colspan="4">Previous Collection</th>
                            </tr>
                            <tr>
                                <th>No. Of Student</th>
                                <th>Cash</th>
                                <th>Cheque</th>
                                <th>Pending</th>
                                <th>Discount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 19%;">@Model.PreviousCollection.StudentCount</td>
                                <td style="width: 19%;">@Model.PreviousCollection.CashAmount</td>
                                <td style="width: 19%;">@Model.PreviousCollection.ChequeAmount</td>
                                <td style="width: 19%;">@Model.PreviousCollection.Pending</td>
                                <td style="width: 19%;">@Model.PreviousCollection.Discount</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="table-responsive">
                    <table class="table table-hover general-table responsive">
                        <thead>
                            <tr>
                                <th colspan="4">Current Collection</th>
                            </tr>
                            <tr>
                                <th>No. Of Student</th>
                                <th>Cash</th>
                                <th>Cheque</th>
                                <th>Pending</th>
                                <th>Discount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 19%;">@Model.CurrentCollection.StudentCount</td>
                                <td style="width: 19%;">@Model.CurrentCollection.CashAmount</td>
                                <td style="width: 19%;">@Model.CurrentCollection.ChequeAmount</td>
                                <td style="width: 19%;">@Model.CurrentCollection.Pending</td>
                                <td style="width: 19%;">@Model.CurrentCollection.Discount</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="table-responsive">
                    <table class="table table-hover general-table responsive">
                        <thead>
                            <tr>
                                <th colspan="4">Advance Collection</th>
                            </tr>
                            <tr>
                                <th>No. Of Student</th>
                                <th>Cash</th>
                                <th>Cheque</th>
                                <th>Pending</th>
                                <th>Discount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 19%;">@Model.AdvanceCollection.StudentCount</td>
                                <td style="width: 19%;">@Model.AdvanceCollection.CashAmount</td>
                                <td style="width: 19%;">@Model.AdvanceCollection.ChequeAmount</td>
                                <td style="width: 19%;">@Model.AdvanceCollection.Pending</td>
                                <td style="width: 19%;">@Model.AdvanceCollection.Discount</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>*@

            <div class="table-responsive">
                <table class="table table-hover general-table responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Previous</th>
                            <th>Current</th>
                            <th>Advance</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="width: 19%;">No. Of Student</th>
                            <td style="width: 19%;">@Model.PreviousCollection.StudentCount</td>
                            <td style="width: 19%;">@Model.CurrentCollection.StudentCount</td>
                            <td style="width: 19%;">@Model.AdvanceCollection.StudentCount</td>
                            <td style="width: 19%;">@Model.TotalStudentCount</td>
                        </tr>
                        <tr>
                            <th style="width: 19%;">Cash Amount</th>
                            <td style="width: 19%;">@Model.PreviousCollection.CashAmount</td>
                            <td style="width: 19%;">@Model.CurrentCollection.CashAmount</td>
                            <td style="width: 19%;">@Model.AdvanceCollection.CashAmount</td>
                            <td style="width: 19%;">@Model.TotalCash</td>
                        </tr>
                        <tr>
                            <th style="width: 19%;">Cheque Amount</th>
                            <td style="width: 19%;">@Model.PreviousCollection.ChequeAmount</td>
                            <td style="width: 19%;">@Model.CurrentCollection.ChequeAmount</td>
                            <td style="width: 19%;">@Model.AdvanceCollection.ChequeAmount</td>
                            <td style="width: 19%;">@Model.TotalChequeAmount</td>
                        </tr>
                        <tr>
                            <th style="width: 19%;">Pending Amount</th>
                            <td style="width: 19%;">@Model.PreviousCollection.Pending</td>
                            <td style="width: 19%;">@Model.CurrentCollection.Pending</td>
                            <td style="width: 19%;">@Model.AdvanceCollection.Pending</td>
                            <td style="width: 19%;">@Model.TotalPendingAmount</td>
                        </tr>
                        <tr>
                            <th style="width: 19%;">Discount Amount</th>
                            <td style="width: 19%;">@Model.PreviousCollection.Discount</td>
                            <td style="width: 19%;">@Model.CurrentCollection.Discount</td>
                            <td style="width: 19%;">@Model.AdvanceCollection.Discount</td>
                            <td style="width: 19%;">@Model.TotalDiscount</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
