@model List<DTO.LABURNUM.COM.FeeReportingResultModel>
@{int counter = 1;}
@if (Model.Count == 0)
{
    <div class="text-center">
        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/no-record-found.png" />
    </div>
}
else
{
    <section class="panel">
        @*<header class="panel-heading text-center">
        <strong>Student Report</strong>
    </header>*@

        <header class="panel-heading">
            <strong>Number of Record Found : @Model.Count</strong>
            <span class="tools pull-right">
                <button type="button" onclick="DownloadRecord('Student Fee Collection');" class="btn btn-primary adept-view">Download <i class="fa fa-download" aria-hidden="true"></i></button>
            </span>
        </header>

        <div class="panel-body" id="divTable">
            <div class="col-md-12">
                <div class="table-responsive" style="overflow: auto;">
                    <table class="table table-hover general-table responsive">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Month</th>
                                <th>StudentName</th>
                                <th>Admission Fee</th>
                                <th>Dev. Fee</th>
                                <th>Ann. Ch.</th>
                                <th>Exam Fee</th>
                                <th>Sport Fee</th>
                                <th>SecurityFee</th>
                                <th>Discount Add.</th>
                                <th>MonthlyFee</th>
                                <th>LateFee</th>
                                <th>TransportFee</th>
                                <th>PendingFee</th>
                                <th>AnnualFunctionFee</th>
                                <th>Discount Month</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DTO.LABURNUM.COM.FeeReportingResultModel item in @Model)
                            {
                                <tr>
                                    <td style="width: 1%;">@counter</td>
                                    <td style="width: 1%;">@item.MonthName</td>
                                    <td style="width: 1%;">@item.StudentName</td>
                                    <td style="width: 20%;">@item.AdmissionFee</td>
                                    <td style="width: 20%;">@item.DevelopementFee</td>
                                    <td style="width: 23%;">@item.AnnualCharges</td>
                                    <td style="width: 19%;">@item.ExamFee</td>
                                    <td style="width: 19%;">@item.SportsFee</td>
                                    <td style="width: 19%;">@item.SecurityFee</td>
                                    <td style="width: 19%;">@item.DiscountAmount</td>
                                    <td style="width: 19%;">@item.MonthlyFee</td>
                                    <td style="width: 19%;">@item.LateFee</td>
                                    <td style="width: 19%;">@item.TransportFee</td>
                                    <td style="width: 19%;">@item.PendingFee</td>
                                    <td style="width: 19%;">@item.AnnualFunctionFee</td>
                                    <td style="width: 19%;">@item.MonthDiscountAmount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
}