@model DTO.LABURNUM.COM.FeeReportingModel

<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Dashboard/Index"><i class="fa fa-home"></i>Home</a></li>
            <li>Reporting</li>
            <li class="active">Student Fee Reporting</li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>
@using (Ajax.BeginForm(new AjaxOptions { OnBegin = "OnStudentFeeReportingBegin", OnSuccess = "OnStudentFeeReportingSuccess", Url = @LABURNUM.COM.Component.Constants.URL.WEBSITEURL + "Reporting/SearchStudentReporting" }))
{    
    <section class="panel">
        <header class="panel-heading">
            Search Student Fee<span class="tools pull-right">
                <a class="fa fa-chevron-down" href="javascript:;"></a>
            </span>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="score_adept">Academic year : </span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.DropDownList("AcademicYearTableId", new SelectList(Model.AcademicYears, "AcademicYearTableId", "AcademicYear"), "Please Select Academic Year", new { @id = "ddlAcademicYear", @autocomplete = "Off", @class = "ToReset" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="score_adept">Class : </span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.DropDownList("ClassId", new SelectList(Model.Classes, "ClassId", "ClassName"), "Please Select Class", new { @id = "ddlClass", @autocomplete = "Off", @class = "ToReset" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="score_adept">Section: </span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.DropDownList("SectionId", new SelectList(Model.Sections, "SectionId", "SectionName"), "Please Select Section", new { @id = "ddlSection", @autocomplete = "Off", @class = "ToReset" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="score_adept">Student : </span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.DropDownList("StudentId", new SelectList(Model.Students, "StudentId", "StudentFullName"), "Please Select A Student", new { @id = "ddlStudent", @autocomplete = "Off", @class = "ToReset" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center">
        <button id="btnSearch" type="submit" class="btn btn-default btn-adeptsubmit btn-adeptsubmitfirst">SEARCH</button>
        <button id="btnReset" type="button" class="btn btn-default btn-adeptsubmit btn-danger" onclick="ResetEntries();">RESET</button>
    </div>
    <div id="divLoader" style="margin-top: 10px;" class="display_none text-center">
        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/loader.gif" />
    </div>
    <div id="divMessage" style="margin-top: 10px;" class="display_none text-center"></div>
}
<section id="divResult" class="margin_small"></section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
<script type="text/javascript">
    $(document).ready(function () {
        OnStudentFeeReportingIndexReady();
    });
</script>
