@model DTO.LABURNUM.COM.ClassSubjectFacultyTableModel

<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Dashboard/Index"><i class="fa fa-home"></i>Home</a></li>
            <li>Class & Subject Wise Faculties</li>
            <li class="active">Search Class & Subject Wise Faculties</li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>
@using (Ajax.BeginForm(new AjaxOptions { OnBegin = "OnClassSubjectFacultySearchBegin", OnSuccess = "OnClassSubjectFacultySearchSuccess", Url = @LABURNUM.COM.Component.Constants.URL.WEBSITEURL + "ClassSubjectWiseFaculty/SearchClassSubjectWiseFaculty" }))
{    
    <section class="panel">
        <header class="panel-heading">
            Search Class & Subject Wise Faculties<span class="tools pull-right">
                <a class="fa fa-chevron-down" href="javascript:;"></a>
            </span>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="score_adept">Class : </span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.DropDownList("ClassId", new SelectList(Model.Classes, "ClassId", "ClassName"), "Please Select Class", new { @id = "ddlClass", @autocomplete = "Off", @class = "ToReset" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="score_adept">Section : </span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.DropDownList("SectionId", new SelectList(Model.Sections, "SectionId", "SectionName"), "Please Select Section", new { @id = "ddlSection", @autocomplete = "Off", @class = "ToReset" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="score_adept">Subject : </span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.DropDownList("SubjectId", new SelectList(Model.Subjects, "SubjectId", "SubjectName"), "Please Select A Subject", new { @id = "ddlSubject", @autocomplete = "Off", @class = "ToReset" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="score_adept">Faculties : </span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.DropDownList("FacultyId", new SelectList(Model.Faculties, "FacultyId", "FacultyName"), "Please Select Faculty", new { @id = "ddlFaculty", @autocomplete = "Off", @class = "ToReset" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center">
        <button id="btnSearch" type="submit" class="btn btn-default btn-adeptsubmit btn-adeptsubmitfirst">SEARCH <i class="fa fa-search" aria-hidden="true"></i></button>
        <button id="btnReset" type="button" class="btn btn-default btn-adeptsubmit btn-danger" onclick="ResetEntries();">RESET <i class="fa fa-repeat" aria-hidden="true"></i></button>
    </div>
    <div id="divLoader" style="margin-top: 10px;" class="display_none text-center">
        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/loader.gif" />
    </div>
    <div id="divMessage" style="margin-top: 10px;" class="display_none text-center"></div>
}
<section id="divResult" class="margin_small"></section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
<script type="text/javascript">
    $(document).ready(function () {
        OnSearchClassSubjectWiseFacultyIndexReady();
    });
</script>

