@model List<DTO.LABURNUM.COM.ClassSubjectFacultyTableModel>

@{int counter = 1;}

@if (new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.FACULTY))
{
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Dashboard/Index"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">See Assigned Classes</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    
    if (Model.Count == 0)
    {
    <div class="text-center">
        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/no-record-found.png" />
    </div>
    }
    else
    {
    <section class="panel">
        <header class="panel-heading">
            See Assigned Classes
            <span class="tools pull-right">
                <button type="button" onclick="DownloadRecord('Assigned Class');" class="btn btn-primary adept-view">Download <i class="fa fa-download" aria-hidden="true"></i></button>
            </span>
        </header>
        <div class="row  panel-body" id="divTable">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover general-table responsive">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Class Name</th>
                                <th>Section Name</th>
                                <th>Subject Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DTO.LABURNUM.COM.ClassSubjectFacultyTableModel item in @Model)
                            {
                                <tr>
                                    <td style="width: 17%;">@counter</td>
                                    <td style="width: 20%;">@item.ClassName</td>
                                    <td style="width: 20%;">@item.SectionName</td>
                                    <td style="width: 20%;">@item.SubjectName</td>
                                </tr>
                                counter++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    }
}
else
{

    <section>
        <header class="panel-heading">
            Access Denied.
        </header>
    </section>
}