@model List<DTO.LABURNUM.COM.CurriculumModel>
@{int counter = 1;}
@if (Model.Count == 0)
{
    <div class="text-center">
        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/no-record-found.png" />
    </div>
}
else
{
    foreach (DTO.LABURNUM.COM.CurriculumModel item in @Model)
    {
    <header class="panel-heading">
        Curriculum For Class @item.ClassName <span class="tools pull-right">
            @*<a class="fa fa-chevron-down" href="javascript:;"></a>*@
            <button type="button" onclick="UpdateCurriculum(@item.CurriculumId)" class="btn btn-success adept-view">Update</button>
        </span>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover general-table responsive">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Subject</th>
                            <th>Syllabus</th>
                            <th>Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DTO.LABURNUM.COM.CurriculumDetailModel item1 in item.CurriculumDetails)
                        {
                            <tr>
                                <td style="width: 17%;">@counter</td>
                                <td style="width: 19%;">@item1.SubjectName</td>
                                <td style="width: 19%;">@item1.Syllabus</td>
                                <td style="width: 19%;">@item1.Activity</td>
                            </tr>
                            counter++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    }
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
