@model DTO.LABURNUM.COM.BusRouteModel

@if (new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.ADMIN) || new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.PRINCIPLE))
{

    using (Ajax.BeginForm(new AjaxOptions { OnBegin = "OnEditBusRouteBegin", OnSuccess = "OnEditBusRouteSuccess", Url = @LABURNUM.COM.Component.Constants.URL.WEBSITEURL + "BusRoute/EditBusRoute" }))
    {
    <div class="modal-dialog modal-dialogadept modal-dialogadept-mini" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/button-close.png" /></span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add Bus Route</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <span class="score_adept">Bus Start From <i>:</i></span>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.HiddenFor(x => x.BusRouteId)
                                @Html.TextBoxFor(x => x.BusStartFrom, new { @id = "txtBusStartFrom", @autocomplete = "Off" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <span class="score_adept">Bus End At <i>:</i></span>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.BusEndAt, new { @id = "txtBusEndAt", @autocomplete = "Off" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <span class="score_adept">Route Number <i>:</i></span>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.BusRouteNumber, new { @id = "txtBusRouteNumber", @autocomplete = "Off" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <span class="score_adept">Charges <i>:</i></span>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.TranportCharges, new { @id = "txtTranportCharges", @autocomplete = "Off" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" id="btnSubmit" class="btn btn-default btn-adeptsubmit btn-adeptsubmitfirst">Update</button>
                        <button type="button" id="btnClose" class="btn btn-default btn-adeptsubmit btn-danger" data-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                    <div id="divPopupLoader" class="col-md-12 display_none text-center margin_small">
                        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/loader.gif" />
                    </div>
                    <div id="divPopupMessage" class="display_none text-center margin_small col-md-12"></div>
                </div>
            </div>
        </div>
    </div>
    }

}
else
{
    <div class="modal-dialog modal-dialogadept modal-dialogadept-mini" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/button-close.png" /></span>
                </button>
                <h4 class="modal-title">@(LABURNUM.COM.Component.Constants.ERRORMESSAGES.ACCESS_DENIED)</h4>
            </div>
        </div>
    </div>
}