@model DTO.LABURNUM.COM.EventModel

@if (new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.ADMIN) || new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.PRINCIPLE))
{

    using (Ajax.BeginForm(new AjaxOptions { OnBegin = "OnEditEventBegin", OnSuccess = "OnEditEventSuccess", Url = @LABURNUM.COM.Component.Constants.URL.WEBSITEURL + "Event/UpdateEvent" }))
    {
    <div class="modal-dialog modal-dialogadept modal-dialogadept-mini" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/button-close.png" /></span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit Event</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <span class="score_adept">Event Type <sup>*</sup> <i>:</i></span>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.DropDownList("EventTypeId", new SelectList(Model.EventTypes, "EventTypeId", "Text"), "Please Select A Event Type", new { @id = "ddlEventType", @autocomplete = "Off", @class = "ToReset" })
                                @Html.HiddenFor(x => x.EventTypeId, new { @id = "hdnEventTypeId" })
                                @Html.HiddenFor(x => x.EventId)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <span class="score_adept">Event Name <sup>*</sup> <i>:</i></span>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.EventName, new { @id = "txtEventName", @autocomplete = "Off", @class = "ToReset" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <span class="score_adept">Class <sup>*</sup> <i>:</i></span>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Classes, new { @id = "txtClasses", @autocomplete = "Off", @class = "ToReset" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <span class="score_adept">Event Date <sup>*</sup> <i>:</i></span>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.EventDate, new { @id = "txtEventDate", @autocomplete = "Off" })
                                @Html.HiddenFor(x => x.EventDate, new { @id = "hdnEventDate" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button id="btnSubmit" type="submit" class="btn btn-default btn-adeptsubmit btn-adeptsubmitfirst">SAVE <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                        <button id="btnClose" type="button" class="btn btn-default btn-adeptsubmit btn-danger" data-dismiss="modal" aria-label="Close">CLOSE <i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                    <div id="divPopupLoader" class="col-md-12 display_none text-center margin_small">
                        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/loader.gif" />
                    </div>
                    <div id="divPopupMessage" class="display_none text-center margin_small col-md-12"></div>
                </div>
            </div>
        </div>
    </div>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            OnEditEventReady();
        });
    </script>
}
else
{
    <div class="modal-dialog modal-dialogadept modal-dialogadept-mini" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/button-close.png" /></span>
                </button>
                <h4 class="modal-title">@(LABURNUM.COM.Component.Constants.ERRORMESSAGES.ACCESS_DENIED)</h4>
            </div>
        </div>
    </div>
}

