@model DTO.LABURNUM.COM.FeeModel

<div class="col-sm-6 col-md-6 col-xs-12">
    <div class="row">
        <div class="col-md-4">
            <span class="score_adept">Admission Fee : </span>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                @Html.TextBoxFor(x => x.AdmissionFee, new { @id = "txtAdmissionFee", @autocomplete = "Off" })
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-6 col-xs-12">
    <div class="row">
        <div class="col-md-4">
            <span class="score_adept">Developement Charges : </span>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                @Html.TextBoxFor(x => x.DevelopementCharges, new { @id = "txtDevelopementCharges", @autocomplete = "Off" })
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-6 col-xs-12">
    <div class="row">
        <div class="col-md-4">
            <span class="score_adept">Annual Charges : </span>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                @Html.TextBoxFor(x => x.AnnualCharges, new { @id = "txtAnnualCharges", @autocomplete = "Off" })
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-6 col-xs-12">
    <div class="row">
        <div class="col-md-4">
            <span class="score_adept">Exam Fee : </span>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                @Html.TextBoxFor(x => x.ExamFee, new { @id = "txtExamFee", @autocomplete = "Off" })
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-6 col-xs-12">
    <div class="row">
        <div class="col-md-4">
            <span class="score_adept">Sports Fee : </span>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                @Html.TextBoxFor(x => x.SportsFee, new { @id = "txtSportsFee", @autocomplete = "Off" })
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-6 col-xs-12">
    <div class="row">
        <div class="col-md-4">
            <span class="score_adept">Security Fee : </span>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                @Html.TextBoxFor(x => x.SecurityFee, new { @id = "txtSecurityFee", @autocomplete = "Off", @class = "ToReset" })
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-6 col-xs-12">
    <div class="row">
        <div class="col-md-4">
            <span class="score_adept">Monthly Fee : </span>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                @Html.TextBoxFor(x => x.MonthlyFee, new { @id = "txtMonthlyFee", @autocomplete = "Off" })
            </div>
        </div>
    </div>
</div>

