@model DTO.LABURNUM.COM.StudentFeeDetailModel

@if (new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.ADMIN) || new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.ACCOUNT))
{

    using (Ajax.BeginForm(new AjaxOptions { OnBegin = "OnUpdateChequeStatusBegin", OnSuccess = "OnUpdateChequeStatusSuccess", Url = @LABURNUM.COM.Component.Constants.URL.WEBSITEURL + "Cheque/UpdateChequeStatus" }))
    {
    <div class="modal-dialog modal-dialogadept modal-dialogadept-mini" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/button-close.png" /></span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Update Cheque Status</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <span class="score_adept">Cheque Status <sup>*</sup> <i>:</i></span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.HiddenFor(x => x.StudentFeeDetailId)
                                @Html.DropDownList("ChequeStatus", new SelectList(Model.ChequeStatusMasters, "ChequeStatusMasterId", "TextToDisplay"), new { @id = "ddlChequeStatusp", @autocomplete = "Off", @class = "ToReset", @onChange = "ShowHideRemarksdiv();" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 display_none" id="divRemarks">
                        <div class="col-md-5">
                            <span class="score_adept">Remarks <sup>*</sup> <i>:</i></span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.TextAreaFor(x => x.ChequeBounceRemarks, new { @id = "txtChequeBounceRemarks", @autocomplete = "Off" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <button id="btnSubmit" type="submit" class="btn btn-default btn-adeptsubmit btn-adeptsubmitfirst">UPDATE <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button type="button" id="btnClose" class="btn btn-default btn-adeptsubmit btn-danger" data-dismiss="modal" aria-label="Close">CLOSE <i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                    <div id="divPopupLoader" class="col-md-12 display_none text-center margin_small">
                        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/loader.gif" />
                    </div>
                    <div id="divPopupMessage" class="display_none text-center margin_small col-md-12"></div>
                </div>
            </div>
        </div>
    </div>
    }
    <script type="text/javascript">
        $(document).ready(function () {
            OnUpdateChequeStatusPopupReady();
        });
    </script>

}
else
{
    <div class="modal-dialog modal-dialogadept modal-dialogadept-mini" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/button-close.png" /></span>
                </button>
                <h4 class="modal-title">@(LABURNUM.COM.Component.Constants.ERRORMESSAGES.ACCESS_DENIED)</h4>
            </div>
        </div>
    </div>
}