@model List<DTO.LABURNUM.COM.CommonAttendanceModel>

@{int counter = 0;}
<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Dashboard/Index"><i class="fa fa-home"></i>Home</a></li>
            <li>Attendance</li>
            <li class="active">Submit Today Attendance</li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>

<section class="panel">
    <header class="panel-heading">
        Today Attendance Already Submitted
    </header>
    <header class="panel-heading">
        Date : @Model[0].Date.ToShortDateString()
        <span class="tools pull-right">
            <button type="button" onclick="DownloadRecord('Attendance List');" class="btn btn-primary adept-view">Download <i class="fa fa-download" aria-hidden="true"></i></button>
        </span>
    </header>
    <div class="row" id="divTable">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover general-table responsive">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Student Name</th>
                            <th>Father Name</th>
                            <th>Present / Absent</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DTO.LABURNUM.COM.CommonAttendanceModel item in @Model)
                        {
                                
                            <tr>
                                <td style="width: 17%;">@(counter + 1)</td>
                                <td style="width: 20%;">@item.StudentName</td>
                                <td style="width: 17%;">@item.FatherName</td>
                                @if (item.IsPresent)
                                { <td style="width: 20%;">Present</td>}
                                else
                                { <td style="width: 20%;">Absent</td>}
                            </tr>
                                counter++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
