@model List<DTO.LABURNUM.COM.FacultyModel>

@{int counter = 1;}

@if (new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.ADMIN) || new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.PRINCIPLE))
{
    if (Model.Count == 0)
    {
    <div class="text-center">
        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/no-record-found.png" />
    </div>
    }
    else
    {
        
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Dashboard/Index"><i class="fa fa-home"></i>Home</a></li>
                <li>Faculty</li>
                <li class="active">All Faculties</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    
    <section>
        <header class="panel-heading">
            See All Faculties
            <span class="tools pull-right">
                <button type="button" onclick="DownloadRecord('Faculties');" class="btn btn-primary adept-view">Download <i class="fa fa-download" aria-hidden="true"></i></button>
            </span>
        </header>

        <div class="row" id="divTable">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover general-table responsive">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>FacultyId</th>
                                <th>Name</th>
                                <th>Is Class Teacher</th>
                                <th>Class</th>
                                <th>Section</th>
                                <th>Is Subject Teacher</th>
                                <th>Subject Name</th>
                                <th>User Name</th>
                                <th>Password</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DTO.LABURNUM.COM.FacultyModel item in @Model)
                            {
                                <tr>
                                    <td style="width: 17%;">@counter</td>
                                    <td style="width: 17%;">@item.FacultyId</td>
                                    <td style="width: 20%;">@item.FacultyName</td>
                                    @if (@item.IsClassTeacher)
                                    {<td style="width: 23%;">Yes</td> 
                                        <td style="width: 20%;">@item.ClassName</td>
                                        <td style="width: 20%;">@item.SectionName</td>}
                                    else
                                    {<td style="width: 23%;">No</td>
                                        <td style="width: 20%;">-</td>
                                        <td style="width: 20%;">-</td>}
                                    @if(@item.IsSubjectTeacher)
                                    {
                                        <td>Yes</td>
                                        <td>@item.SubjectName</td>
                                    }
                                    else
                                    {
                                        <td>No</td>
                                        <td>-</td>
                                    }
                                    <td style="width: 19%;">@item.UserName</td>
                                    <td style="width: 19%;">@item.Password</td>
                                    <td style="width: 12%;">
                                        <button type="button" onclick="EditFaculty(@item.FacultyId)" class="btn btn-success adept-view" id="btnEdit@(counter)">EDIT</button></td>
                                </tr>
                                    counter++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    }
}
else
{
    <section>
        <header class="panel-heading">
            @(LABURNUM.COM.Component.Constants.ERRORMESSAGES.ACCESS_DENIED)
        </header>
    </section>
}
