@model List<DTO.LABURNUM.COM.StudentFeeDetailModel>
@{int counter = 1;}
@if (Model.Count == 0)
{
    <div class="text-center">
        <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/no-record-found.png" />
    </div>
}
else
{
    <section class="panel">
        <header class="panel-heading">
            <strong>Number of Record Found : @Model.Count</strong>
            <span class="tools pull-right">
                <button class="btn btn-primary adept-view" type="button" onclick="DownloadRecord('Cheque Details List');">
                    Download
                    <i class="fa fa-download" aria-hidden="true"></i>
                </button>
            </span>
        </header>
        <div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover general-table responsive">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Class Name</th>
                                <th>Section Name</th>
                                <th>Student Name</th>
                                <th>Father Name</th>
                                <th>Chq No.</th>
                                <th>Chq Date</th>
                                <th>Chq Amt.</th>
                                <th>Chq Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DTO.LABURNUM.COM.StudentFeeDetailModel item in @Model)
                            {
                                <tr>
                                    <td style="width: 10%;">@counter</td>
                                    <td style="width: 10%;">@item.ClassName</td>
                                    <td style="width: 10%;">@item.SectionName</td>
                                    <td style="width: 15%;">@item.StudentName</td>
                                    <td style="width: 20%;">@item.FatherName</td>
                                    <td style="width: 10%;">@item.ChequeNumber</td>
                                    <td style="width: 10%;">@item.ChequeDate.GetValueOrDefault().Day/@item.ChequeDate.GetValueOrDefault().Month/@item.ChequeDate.GetValueOrDefault().Year</td>
                                    <td style="width: 10%;">@item.ChequePaidAmount</td>
                                    <td style="width: 10%;">@item.ChequeStatusName</td>
                                    @if (item.ChequeStatus == DTO.LABURNUM.COM.Utility.ChequeStatusMaster.GetChequeStatusMasterId(DTO.LABURNUM.COM.Utility.EnumChequeStatusMaster.SUBMITTED))
                                    {
                                        <td>
                                            <button id="btnUpdate" class="btn btn-success adept-view" data-toggle="modal" data-target="#myModal" onclick="UpdateChequeStatusPoupUp('@item.StudentFeeDetailId')">Update Status</button></td> 
                                    }
                                    else
                                    {
                                        <td>
                                            <button class="btn btn-success adept-view" disabled>Update Status</button>
                                        </td> 
                                    }
                                </tr>
                                    counter++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
}
